@model IEnumerable<VideoAssetManager.Models.EventMaster>

@{
    ViewData["Title"] = "Index";
    Random random = new Random();
    int Contentlistpageid = random.Next();
    ViewData["suggestionfor"] = "EventDetail";
}

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@

<link href="~/JqGrid/css/jqGridPage-ui.css" rel="stylesheet" />

<style>
    .ui-jqgrid tr.jqgrow td {
        white-space: normal !important;
    }
</style>

<div class="box box-primary">
    <div class="box-body">
        <div class="PageCaption">
            <div class="col-md-12 text-left">
                <span style="font-size:x-large;  font-weight:100">Event Management</span>

            </div>
            <br />
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <input type="hidden" value="" name="hdncontent" id="hdncontent" />
                <div class="form-group">
                    <partial name="_autocompleteSuggestions" view-data="ViewData" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive" id="table-responsive">
                    <div class="inner_width">
                        <table id="jqGrid"></table>
                        <div id="jqGridPager"></div>
                        <input type="hidden" id="hdnSelectedRows" name="hdnSelectedRows" />
                        <input type="hidden" id="hdnAllRows" name="hdnAllRows" value="false" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/lib/jquery/dist/js/jquery-ui.min.js"></script>
    <script src="~/lib/jquery/dist/js/trirand/i18n/grid.locale-en.js"></script>
    <script src="~/lib/jquery/dist/js/trirand/jquery.jqgrid.min.js"></script>

    <script src="~/autocomplete/ui-1.1.2.1.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            $("#SearchString").attr("placeholder", "Search for Name");

            grid = $("#jqGrid"),
                getColumnIndexByName = function (grid, columnName) {
                    var cm = grid.jqGrid('getGridParam', 'colModel'), i, l = cm.length;
                    for (i = 0; i < l; i++) {
                        if (cm[i].name === columnName) {
                            return i; // return the index
                        }
                    }
                    return -1;
                }

            var selectedRows = [];
            var AllRows = [];


            $("#jqGrid").jqGrid({
                url: '/admin/Administrator/EventDetails',
                mtype: "GET",
                datatype: "json",
                contentType: "application/json",
                postData: { TopSearch: function () { return $('#SearchString').val(); }, Contentlistpageid: @Contentlistpageid },
                colModel: [
                    { label: 'Name', name: 'name', width: 850, align: "center", editoptions: { value: "" }, editable: true, hidden: false, searchoptions: { sopt: ["cn", "nc", "eq", "ne", "nu", "nn"] }, coloptions: { filtering: false, seraching: false, freeze: false } },
                    { label: 'Visibility', name: 'visibility', width: 850, align: "center", editoptions: { value: "" }, editable: true, hidden: false,  coloptions: { filtering: false, seraching: false, freeze: false } },
                    { label: 'Status', name: 'status', width: 850, align: "center", editoptions: { value: "" }, editable: true, hidden: false, coloptions: { filtering: false, seraching: false, freeze: false } },
                    {
                        label: 'Start Date', name: 'startDate', width: 450, editable: false, hidden: false, align: "center", edittype: "label", formatter: 'date', formatoptions: { newformat: 'd-M-y' }, sorttype: "date", coloptions: { filtering: false, seraching: false, freeze: false, hidden: true },
                        searchoptions: {
                            sopt: ["gt", "lt", "ge", "le", "eq", "ne"],
                            dataInit: function (elem) {
                                $(elem).datepicker({
                                    dateFormat: 'd-M-y',
                                    changeYear: true,
                                    changeMonth: true,
                                    onSelect: function (dateText, inst) {
                                        setTimeout(function () {
                                            $('#jqGrid')[0].triggerToolbar();
                                        }, 100);
                                    }
                                });
                            },
                        },
                        editoptions: {
                            readonly: "readonly",
                            sopt: ["gt", "lt", "ge", "le", "eq", "ne"],
                            dataInit: function (elem) {
                                $(elem).datepicker({
                                    dateFormat: 'd-M-y',
                                    changeYear: true,
                                    changeMonth: true,
                                    defaultDate: new Date(),
                                    minDate: new Date(),

                                });
                            },
                        },
                    },
                    {
                        label: 'End Date', name: 'endDate', width: 450, editable: false, hidden: false, align: "center", edittype: "label", formatter: 'date', formatoptions: { newformat: 'd-M-y' }, sorttype: "date", coloptions: { filtering: false, seraching: false, freeze: false, hidden: true },
                        searchoptions: {
                            sopt: ["gt", "lt", "ge", "le", "eq", "ne"],
                            dataInit: function (elem) {
                                $(elem).datepicker({
                                    dateFormat: 'd-M-y',
                                    changeYear: true,
                                    changeMonth: true,
                                    onSelect: function (dateText, inst) {
                                        setTimeout(function () {
                                            $('#jqGrid')[0].triggerToolbar();
                                        }, 100);
                                    }
                                });
                            },
                        },
                        editoptions: {
                            readonly: "readonly",
                            dataInit: function (elem) {
                                $(elem).datepicker({
                                    dateFormat: 'd-M-y',
                                    changeYear: true,
                                    changeMonth: true,
                                    defaultDate: new Date(),
                                    minDate: new Date(),

                                });
                            },
                        }
                    },
                    { label: 'Start Url', name: 'startUrl', width: 850, align: "center", editoptions: { value: "" }, editable: true, hidden: true, searchoptions: { sopt: ["cn", "nc", "eq", "ne", "nu", "nn"] }, coloptions: { filtering: false, seraching: false, freeze: false } },
                    { label: 'Action', name: 'Edit', width: 70, align: "center", formatter: "actions", width: 550, formatoptions: { keys: true, onEdit: onEdit, del: true, afterRestore: reloadGrid, onSuccess: reloadGrid }, title: false, sortable: false, search: false, colmenu: false, hidden: false, editable: false },
                ],

                viewrecords: true,
                height: 'auto',
                rowNum: 50,
                rowList: [25, 50, 75, 100],
                multiselect: false,
                sortorder: "asc",
                sortname: "Name",
                pager: "#jqGridPager",
                gridview: true,
                autoencode: true,
                sortable: true,
                colMenu: true,
                subGrid: false,
                autowidth: false,
                multiselectPosition: "none",
                del: true,
                loadonce: false,
                emptyrecords: 'No records to display',

                autowidth: true,
                editurl: '/admin/EventManagement/Edit',
                onSelectRow: function (rowId, status, e) {
                    if (status === false) {
                        var index = selectedRows.indexOf(rowId);
                        while (index > -1) {
                            selectedRows.splice(index, 1);
                            index = selectedRows.indexOf(rowId);
                        }
                    } else {
                        var index = selectedRows.indexOf(rowId);
                        if (index == -1) {
                            selectedRows.push(rowId);
                        }
                    }
                    $('#hdnSelectedRows').val(selectedRows.join(","));
                },

                onSelectRow: function (rowId, status, e) {
                    if (status === false) {
                        var index = selectedRows.indexOf(rowId);
                        while (index > -1) {
                            selectedRows.splice(index, 1);
                            index = selectedRows.indexOf(rowId);
                        }
                        $('#hdnAllRows').val(false);
                    } else {
                        var index = selectedRows.indexOf(rowId);
                        if (index == -1) {
                            selectedRows.push(rowId);
                        }
                    }
                    $('#hdnSelectedRows').val(selectedRows.join(","));
                },
                onSelectAll: function (rowIds, status) {
                    if (status === true) {
                        var PageIds = $('#jqGrid').jqGrid('getDataIDs');
                        $.each(PageIds, function (i) {
                            var index = selectedRows.indexOf(PageIds[i]);
                            if (index == -1) {
                                selectedRows.push(PageIds[i]);
                            }
                        });
                    } else {
                        var PageIds = $('#jqGrid').jqGrid('getDataIDs');
                        $.each(PageIds, function (i) {
                            var index = selectedRows.indexOf(PageIds[i]);
                            while (index > -1) {
                                selectedRows.splice(index, 1);
                                index = selectedRows.indexOf(PageIds[i]);
                            }
                        });
                        $('#hdnAllRows').val(false);
                    }
                    $('#hdnSelectedRows').val(selectedRows.join(","));
                },
                gridComplete: function () {

                    var $self = $(this), rows = this.rows, i, iAction, tr,
                        colModel = $self.jqGrid("getGridParam", "colModel"),
                        idPrefix = $self.jqGrid("getGridParam", "idPrefix"),
                        newOnClick = function (e) {

                            var rowid = $(this).closest(".jqgrow").attr("id");
                            e.stopPropagation();
                           // window.location.href = "Administrator/RedirectToSelectedLinq?Id=" + rowid;
                            window.open(
                                "Administrator/RedirectToSelectedLinq?Id=" + rowid,
                                '_blank' // <- This is what makes it open in a new window.
                            );
                        };

                    // find the index of the column with formatter: "actions"
                    for (i = 0; i < colModel.length; i++) {
                        if (colModel[i].formatter === "actions") {
                            iAction = i;
                            break;
                        }
                    }
                    if (iAction === undefined) {
                        return;
                    }
                    for (i = 0; i < rows.length; i++) {

                        tr = rows[i];
                        if ($(tr).hasClass("jqgrow")) {
                            if (tr.innerText.indexOf("Running") > -1) {
                                $(tr.cells[iAction]).find(".ui-inline-edit").find("span").removeClass(".ui-icon-pencil");
                                $(tr.cells[iAction]).find(".ui-inline-del").find("span").remove();
                                $(tr.cells[iAction]).find(".ui-inline-edit").find("span").addClass("ui-icon-circle-triangle-e");
                                $(tr.cells[iAction]).find(".ui-inline-edit").attr("Title", "Click to start")
                                    .click(newOnClick)      // register new click event handler
                                    .prop("onclick", null); // remove standard behavior of Edit button
                            } else {
                                $(tr.cells[iAction]).find(".ui-inline-edit").find("span").remove();
                                $(tr.cells[iAction]).find(".ui-inline-del").find("span").remove();
                            }

                        }
                    }
                    $("#delmodjqGrid").attr("style:z-index: 950; top: 186px; left: 890px;");
                }

            });


            $('#jqGrid').jqGrid('filterToolbar', { stringResult: true, searchOperators: true });

            if ($(window).width() >= 1600) {
                $("#jqGrid").setGridWidth(Math.round($("#table-responsive").width() - 2, true));
            }
            else {
                $("#jqGrid").setGridWidth(Math.round($("#table-responsive .inner_width").width(), true));
            }
            $('#gs_jqGrid_visibility').hide();
            $('#gs_jqGrid_status').hide();
        });


        function reloadGrid(cellValue, options, rowdata, action) {
            $('#jqGrid').trigger('reloadGrid');
        }
        $(window).resize(function () {
            setTimeout(function () {
                if ($(window).width() >= 1600) {
                    $("#jqGrid").setGridWidth(Math.round($("#table-responsive").width() - 2, true));
                }
                else {
                    $("#jqGrid").setGridWidth(Math.round($("#table-responsive .inner_width").width(), true));
                }
            }, 500);
        });

        $('.sidebar-toggle').click(function () {
            setTimeout(function () {
                if ($(window).width() >= 1200) {
                    $("#jqGrid").setGridWidth(Math.round($("#table-responsive").width() - 2, true));
                }
                else {
                    $("#jqGrid").setGridWidth(Math.round($("#table-responsive .inner_width").width(), true));
                }
            }, 500);
        });
        function onEdit(cellValue) {



        }
        $('#SearchString').bind("enterKey", function (e) {
            $('#jqGrid').trigger('reloadGrid');
        });
        $('#SearchString').keyup(function (e) {
            if (e.keyCode == 13) {
                $(this).trigger("enterKey");
                $('#jqGrid').trigger('reloadGrid');
            }
        });
        function myelemactive(value, options) {
            var el = document.createElement("select");
            el.className = "editable inline-edit-cell ui-widget-content ui-corner-all";
            el.style = "width: 100%;";
            var selected = value.includes("JQcheck", 0);
            if (selected) {
                el.options.add(new Option("YES", "true", true, true));
                el.options.add(new Option("NO", "false"));
            }
            else {
                el.options.add(new Option("YES", "true"));
                el.options.add(new Option("NO", "false", true, true));
            }
            return el;
        }
        function myvalueactive(elem, operation, value) {
            if (operation === 'get') {
                return $(elem).val();
            } else if (operation === 'set') {
                $('select', elem).val(value);
            }
        }

        function IsActive(cellValue, options, rowdata, action) {
            if (rowdata.active == true)
                return "<img style='cursor:pointer; width:25px;' title='Click to Deactivate'  src='https://localhost:44345/JqGrid/css/images/JQcheck.png'><img>";
            else
                return "<img style='cursor:pointer; width:25px;' title='Click to Activate'  src='https://localhost:44345/JqGrid/css/Images/JQclose.PNG'><img>";
        }

    </script>
}