@model IEnumerable<UserRoles>

@{
    Random random = new Random();
    int categoryListpageid = random.Next();

    ViewData["suggestionfor"] = "Category";
}
<link href="~/JqGrid/css/jqGridPage-ui.css" rel="stylesheet" />


<div class="box box-primary">
    <div class="box-body">
        <div class="row">
            <div class="PageCaption">
                <div class="col-md-12 text-Left">
                    <span style="font-size:x-large;  font-weight:100">Manage System Role</span>
                    <a class="btn btn-primary float-right" asp-area="admin" asp-action="CreateUserRole" asp-controller="User" title="Add Category">Add System Role</a>
                </div>
                <br />
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6">
                <input type="hidden" value="" name="hdncontent" id="hdncontent" />
                <div class="form-group">
                    <partial name="_autocompleteSuggestions" view-data="ViewData" />
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive" id="table-responsive">
                    <div class="inner_width">
                        <table id="jqGrid"></table>
                        <div id="jqGridPager"></div>
                        <input type="hidden" id="hdnSelectedRows" name="hdnSelectedRows" />
                        <input type="hidden" id="hdnAllRows" name="hdnAllRows" value="false" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/lib/jquery/dist/js/jquery-ui.min.js"></script>
    <script src="~/lib/jquery/dist/js/trirand/i18n/grid.locale-en.js"></script>
    <script src="~/lib/jquery/dist/js/trirand/jquery.jqgrid.min.js"></script>
    <script src="~/autocomplete/ui-1.1.2.1.min.js"></script>

    <script type="text/javascript">
       
        $(document).ready(function () {
            $("#clsCaption").html("Manage Category");
                     

            var selectedRows = [];
            var AllRows = [];


            $("#jqGrid").jqGrid({
                url: '/admin/User/UserRolesDetails',
                mtype: "GET",
                datatype: "json",
                contentType: "application/json",
                postData: { TopSearch: function () { return $('#SearchString').val(); }, Contentlistpageid: @categoryListpageid },
                colModel: [
                    { label: 'Id', name: 'id', width: 100, align: "center", key: true, editable: true, hidden: true },
                    { label: 'Roles', name: 'name', width: 850, align: "left", editoptions: { value: "" }, editable: true, hidden: false, searchoptions: { sopt: ["cn", "nc", "eq", "ne", "nu", "nn"] }, coloptions: { filtering: false, seraching: false, freeze: false } },
                   { label: 'Action', name: 'Edit', width: 70, align: "center", formatter: "actions", width: 550, formatoptions: { keys: true, onEdit: onEdit, del: true, afterRestore: reloadGrid, onSuccess: reloadGrid }, title: false, sortable: false, search: false, colmenu: false, hidden: false, editable: false },
                ],

                viewrecords: true,
                height: 'auto',
                rowNum: 25,
                rowList: [25, 50, 75, 100],
                multiselect: false,
                sortorder: "asc",
                sortname: "id",
                pager: "#jqGridPager",
                gridview: true,
                autoencode: true,
                sortable: true,
                colMenu: true,
                subGrid: false,
                autowidth: false,
                del: true,
                multiselectPosition: "none",
                //loadonce: true,
                emptyrecords: 'No records to display',
                autowidth: true,
                editurl: '/admin/User/SaveEdit',
                onSelectRow: function (rowId, status, e) {
                    if (status === false) {
                        var index = selectedRows.indexOf(rowId);
                        while (index > -1) {
                            selectedRows.splice(index, 1);
                            index = selectedRows.indexOf(rowId);
                        }
                    } else {
                        var index = selectedRows.indexOf(rowId);
                        if (index == -1) {
                            selectedRows.push(rowId);
                        }
                    }
                    $('#hdnSelectedRows').val(selectedRows.join(","));
                },

                onSelectRow: function (rowId, status, e) {
                    if (status === false) {
                        var index = selectedRows.indexOf(rowId);
                        while (index > -1) {
                            selectedRows.splice(index, 1);
                            index = selectedRows.indexOf(rowId);
                        }
                        $('#hdnAllRows').val(false);
                    } else {
                        var index = selectedRows.indexOf(rowId);
                        if (index == -1) {
                            selectedRows.push(rowId);
                        }
                    }
                    $('#hdnSelectedRows').val(selectedRows.join(","));
                },
                onSelectAll: function (rowIds, status) {
                    if (status === true) {
                        var PageIds = $('#jqGrid').jqGrid('getDataIDs');
                        $.each(PageIds, function (i) {
                            var index = selectedRows.indexOf(PageIds[i]);
                            if (index == -1) {
                                selectedRows.push(PageIds[i]);
                            }
                        });
                    } else {
                        var PageIds = $('#jqGrid').jqGrid('getDataIDs');
                        $.each(PageIds, function (i) {
                            var index = selectedRows.indexOf(PageIds[i]);
                            while (index > -1) {
                                selectedRows.splice(index, 1);
                                index = selectedRows.indexOf(PageIds[i]);
                            }
                        });
                        $('#hdnAllRows').val(false);
                    }
                    $('#hdnSelectedRows').val(selectedRows.join(","));
                },
                gridComplete: function () {
                    var $self = $(this), rows = this.rows, i, iAction, tr,
                        colModel = $self.jqGrid("getGridParam", "colModel"),
                        idPrefix = $self.jqGrid("getGridParam", "idPrefix"),
                        newOnClick = function (e) {
                            var rowid = $(this).closest(".jqgrow").attr("id");
                            e.stopPropagation();
                            window.location.href = "CreateUserRole?RoleId=" + rowid;
                        };

                    // find the index of the column with formatter: "actions"
                    for (i = 0; i < colModel.length; i++) {
                        if (colModel[i].formatter === "actions") {
                            iAction = i;
                            break;
                        }
                    }
                    if (iAction === undefined) {
                        return;
                    }
                    for (i = 0; i < rows.length; i++) {
                        tr = rows[i];
                        if ($(tr).hasClass("jqgrow")) {
                            $(tr.cells[iAction]).find(".ui-inline-edit")
                                .click(newOnClick)      // register new click event handler
                                .prop("onclick", null); // remove standard behavior of Edit button
                        }
                    }
                    $("#delmodjqGrid").attr("style:z-index: 950; top: 186px; left: 890px;");
                }
            });

            $('#jqGrid').jqGrid('filterToolbar', { stringResult: true, searchOperators: true });

            if ($(window).width() >= 1600) {
                $("#jqGrid").setGridWidth(Math.round($("#table-responsive").width() - 2, true));
            }
            else {
                $("#jqGrid").setGridWidth(Math.round($("#table-responsive .inner_width").width(), true));
            }
        });


        function reloadGrid(cellValue, options, rowdata, action) {
            $('#jqGrid').trigger('reloadGrid');
        }
        $(window).resize(function () {
            setTimeout(function () {
                if ($(window).width() >= 1600) {
                    $("#jqGrid").setGridWidth(Math.round($("#table-responsive").width() - 2, true));
                }
                else {
                    $("#jqGrid").setGridWidth(Math.round($("#table-responsive .inner_width").width(), true));
                }
            }, 500);
        });

        $('.sidebar-toggle').click(function () {
            setTimeout(function () {
                if ($(window).width() >= 1200) {
                    $("#jqGrid").setGridWidth(Math.round($("#table-responsive").width() - 2, true));
                }
                else {
                    $("#jqGrid").setGridWidth(Math.round($("#table-responsive .inner_width").width(), true));
                }
            }, 500);
        });
        function onEdit(cellValue) {

        }
        $('#SearchString').bind("enterKey", function (e) {
            $('#jqGrid').trigger('reloadGrid');
        });
        $('#SearchString').keyup(function (e) {
            if (e.keyCode == 13) {
                $(this).trigger("enterKey");
                $('#jqGrid').trigger('reloadGrid');
            }
        });
     

    </script>
}