CREATE PROCEDURE [dbo].[Sp_GetTabMenu]
(
@ControllerName nvarchar(100),
@ActionName nvarchar(100)
)
As
BEGIN

DECLARE @MenuName TABLE
(MenuId int,
 MenuName  nvarchar(100),
 ClassName nvarchar(100),
 area nvarchar(100), 
 action nvarchar(100),
 clickEvent nvarchar(100), 
 Active bit,
 IsSoftDelete bit,
 TabdivId nvarchar(100),
 SerialNo int,
 value nvarchar(100)
)

Insert into @MenuName(MenuId,MenuName,ClassName,area,action,clickEvent,Active,IsSoftDelete,TabdivId,SerialNo,value)
SELECT MenuId,MenuName,ClassName,area,action,clickEvent,Active,IsSoftDelete,TabdivId ,SerialNo, value FROM TabMenu CROSS APPLY STRING_SPLIT(action, ',')

select * from @MenuName where area like '%'+@ControllerName+'%' And value=@ActionName and IsSoftDelete=0


END
	

	select * from TabMenu